* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#nav-list {
  display: flex;
  justify-content: left;
}

#nav-list ul {
  list-style: none;
}

#nav-list ul li {
  float: left;
  width: 200px;
  height: 40px;
  opacity: 0.9;
  text-align: center;
  font-size: 25px;
}

#nav-list ul li a {
  text-decoration: none;
  color: black;
  display: block;
}

/* for changing " hover color in nav-bar" */
/* #nav-list ul li a:hover {
} */

#nav-list ul li ul li {
  display: none;
}

#nav-list ul li:hover ul li {
  display: block;
}

#info-screen {
  /* border-style: solid; */
  width: 1863px;
  height: 770px;
  margin: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.display {
  display: none;
}

.raver-history {
  width: 400px;
  margin: 10px;
  line-height: 30px;
}

.raver-history h1 {
  margin-top: 10px;
}

.raver-history li {
  margin-left: 0px;
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
  line-height: 30px;
}

.raver-history li a {
  text-decoration: none;
  color: black;
}

.raver-proto {
  object-fit: contain;
  max-width: 50%;
  margin-bottom: 150px;
  height: auto;
}

#game-screen {
  border-style: solid;
  /* height: 770px; */
  margin: 20px;
  margin-top: 105px;
  display: flex;
  position: absolute;
}

audio::-webkit-media-controls-panel {
  background-color: cornflowerblue;
}

audio::-webkit-media-controls-play-button {
  background-color: lightblue;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  color: #333;
}

audio {
  display: block;
}
