* {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace !important;
  transition: background-color 0.2s ease;
}

.swap-rotate {
  position: absolute;
  right: 15px;
  top: 15px;
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#nav-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

#nav-list ul li {
  float: left;
  opacity: 0.9;
  font-size: 25px;
  min-width: 200px;
  text-align: center;
}

#nav-list ul li a {
  text-decoration: none;
  display: block;
}

#nav-list ul li a:hover {
  color: cornflowerblue !important;
  transition: color 0.2s ease;
}

#nav-list ul li ul li {
  display: none;
}

#nav-list ul li:hover ul li {
  display: block;
}

#pause-button button:hover {
  background-color: cornflowerblue !important;
  transition: background-color 0.2s ease !important;
}

audio {
  display: block;
}

#game-screen {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

audio::-webkit-media-controls-panel {
  background-color: cornflowerblue;
}

audio::-webkit-media-controls-play-button {
  background-color: lightblue;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  color: #333;
}

audio {
  display: block;
}

#layer,
#player,
#enemy {
  display: none;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#pause-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

#pause-button button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

#pause-button button:hover {
  background-color: #ddd;
  transition: background-color 0.2s ease;
}

#pause-button {
  display: none;
}
